<div class="mt-70 sm:mt-130 w-full flex flex-col relative">
    <div class="mx-auto flex flex-col justify-center items-center text-center px-45 sm:w-500 sl:w-650">
        <img class="mb-30 sm:mb-45 w-228 sm:w-360 sm:h-360 rounded-full" src="{{ url_for('static', filename='assets/img/curator.png') }}" alt="">
        <h3 class="mb-15 sm:mb-25 fs32 sm:text-h3 uppercase">Stephan Parshin</h3>
        <div class="mb-30 sm:mb-40 text-subone muller text-one">curator</div>
        <div class="text-body by py-20 muller text-three">lacinia quis vel eros donec ac odio tempor orci dapibus ultrices in iaculis nunc sed augue lacus viverra vitae eu consequat ac felis donec odio pellentesque diam volutpat commodo sed egestas egestas fringilla phasellus faucibus</div>
    </div>
    <!-- <img class="absolute left-300 top-100 drop-scale" src="{{ url_for('static', filename='assets/icons/drop_menu.png') }}" alt="">
    <img class="absolute left-250 top-300 drop-scale" src="{{ url_for('static', filename='assets/icons/drop_menu.png') }}" alt="">
    <img class="absolute right-300 top-500 drop-scale" src="{{ url_for('static', filename='assets/icons/drop_menu.png') }}" alt="">
    <img class="absolute right-100 top-50 drop-scale" src="{{ url_for('static', filename='assets/icons/drop_menu.png') }}" alt="">
    <img class="absolute left-600 top-600 drop-scale" src="{{ url_for('static', filename='assets/icons/drop_menu.png') }}" alt="">
    <img class="absolute left-300 top-100 drop-scale" src="{{ url_for('static', filename='assets/icons/drop_menu.png') }}" alt="">
    <img class="absolute left-300 top-100 drop-scale" src="{{ url_for('static', filename='assets/icons/drop_menu.png') }}" alt=""> -->
    <div class="h-screen w-full">

    </div>
</div>