<div class=" mt-130 px-90 pb-200">
    <div class="flex items-start mb-85">
        <img class="rounded-full w-116 h-116 mr-115" src="{{ url_for('static', filename='assets/icons/curator.png') }}" alt="">
        <div class="mr-240">
            <h4 class="uppercase text-h4 mb-25">Stephan Parshin</h4>
            <div class="muller mb-5">Creator</div>
            <a class="muller opacity-75" href="#">instagram_link</a>
        </div>
        <div class="muller w-450 opacity-75 ml-auto">
            Некий текст ракрывающий всё главную и основную стуь проекта, сейчас он рыбный и служит для заполнения вот этого данного текстового блока. 
        </div>
    </div>

    <div class="border-t border-black opacity-25 mb-130"></div>

    <div class="flex">
        <img class="w-1/3 mr-130" src="{{ url_for('static', filename='assets/icons/project.png') }}" alt="">

        <div class="w-2/3">
            <div class="relative inline-block">
                <h3 class="text-h3 uppercase mb-50">Projectname</h3>
                <div class="text-subone uppercase absolute -top-10 -right-30">02</div>
            </div>

            <div class="flex items-start">
                <div class="mr-100">
                    <div class="text-subone  muller mb-10">21.09.2015</div>
                    <div class="text-subone opacity-75 muller">Холст, масло</div>
                </div>
    
                <div class="muller w-315 opacity-75 ml-auto">
                    Некий текст ракрывающий всё главную и основную стуь проекта, сейчас он рыбный и служит для заполнения вот этого данного текстового блока. 
                </div>
            </div>

            <div class="border-t border-black opacity-25 mt-30 mb-95"></div>

            <div>
                <h4 class="uppercase text-h4 mb-50">
                    artists
                </h4>
                <div class="flex">
                    <div class="mr-50">
                        <img class="rounded-full w-116 h-116 mb-20" src="{{ url_for('static', filename='assets/icons/artist.png') }}" alt="">
                        <div class="muller opacity-75">
                            Stephan Parshin
                        </div>
                    </div>
                    <div>
                        <img class="rounded-full w-116 h-116 mb-20" src="{{ url_for('static', filename='assets/icons/artist.png') }}" alt="">
                        <div class="muller opacity-75">
                            Stephan Parshin
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>